.eslintrc
.eslintignore
.prettierrc
commitlint.config.js
.env
.env.example.sh

.lintstagedrc.json
.editorconfig
CHANGELOG.md

serverless.yml

test
coverage
.serverless
node_modules/*

.git/*
.gitignore
